.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.ball-big {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.ball-big > span {
    font-size: 56px;
}

.ball-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (min-width: 540px){
    .ball-big {
        width: 118px;
        height: 118px;
    }

    .ball-small {
        width: 82px;
        height: 82px;
        /* border-radius: 50%; */
    }
}

.ball-close {
    background-color: #304859;
}

.ball-open {
    background: #BCCED9;
}

.ball-active {
    background: #FDA214;
}