.card{
    background-color: #FCFCFC;
    padding: 20px 40px;
    border-radius: 10px;
    width: 87%;
    margin: 0 auto;
    max-width: 654px;
}

.solo-card{
    background: #DFE7EC;
    width: 45%;
    height: 70px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solo-card>p{
    color: #7191A5;
}

.multi-card {
    background: #DFE7EC;
    width: 64px;
    height: 70px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.multi-card>p{
    color: #7191A5;
}

.multi-card > .large{
    display: none;
}

@media (min-width: 540px) {
    .multi-card{
        padding: 5px 20px;
        /* text-wr */
        width: 17%;
        align-items: flex-start;
        /* padding-left: 10px; */
    }
}

@media (min-width: 830px){
    .multi-card{
        padding: 5px 15px;
        /* text-wr */
        width: 22%;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .multi-card h3 {
        font-size: 32px;
        margin-left: 20px;
    }
}