.text-white{
    color: #FCFCFC;
}

.bg-white{
    background: #FCFCFC;
}

.text-dark-grey{
    color: #7191A5;
}

.bg-yellow{
    background-color: #FDA214;
}



/* yellow #FDA214 */
/* off-white = #F2F2F2 */
/* light-grey = #BCCED9 */
/* dark-grey = #7191A5 */
/* darkish-blue = #304859 */
/* blue = #6395B8 */
/* dark-blue = #152938 */
/* white = #FCFCFC */